[submodule "invoke.hpp"]
	path = invoke.hpp
	url = https://github.com/BlackMATov/invoke.hpp
[submodule "ImGuizmo"]
	path = ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo
[submodule "magic_enum"]
	path = magic_enum
	url = https://github.com/Neargye/magic_enum
