[submodule "invoke.hpp"]
	path = invoke.hpp
	url = https://github.com/BlackMATov/invoke.hpp
[submodule "cocos2d-x-imgui"]
	path = cocos2d-x-imgui
	url = https://github.com/WuJiayiSH/cocos2d-x-imgui
	branch = v3-docking
[submodule "ImGuizmo"]
	path = ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo
[submodule "magic_enum"]
	path = magic_enum
	url = https://github.com/Neargye/magic_enum
